<template>
    <div class="page-post">
        <b-card header-tag="header" class=about-section>
            <template v-slot:header>
                <span class="about-title">About</span>
            </template>
              <GmapMap
                :center="{lat:10, lng:10}"
                :zoom="7"
                style="width: 100%; height: 150px;"
              >
              </GmapMap>
            <div class="abount-section-details">
              <div class="about-address-container">
                  <b-icon icon="arrow90deg-right" class="icon-direction"></b-icon>
                  <span class="about-address"><a href="#">Metal Box Factory, 30 Great Guildford St SE1 0HS London</a></span>
                  <span><a href="#">save</a></span>
              </div>
              <div class="about-tel-container">
                <span class="about-tel"><b-icon icon="telephone-fill" class="icon-tel"></b-icon> 020 3514 0659</span>
              </div>
              <div class="about-faq-container">
                <span><b-icon icon="question-square" class="icon-faq"></b-icon> Ask for Every Interaction's hour</span>
              </div>
              <div class="about-website-container">
                <span><b-icon icon="circle-fill" class="icon-circle"></b-icon> <a href="#">http://www.everyinteraction.com/</a></span>
              </div>
            </div>
        </b-card>
    </div>
</template>

<script>
export default {
    name: 'About',
    data() {
      return {
        coordinates: {
          lat: 0,
          lng: 0
        }
      }
    },
    created() {
      this.$getLocation({})
        .then(coordinates => {
          this.coordinates = coordinates
        })
        .catch(error => alert(error));
    }
}
</script>

<style scoped>
  .about-title {
    color: #4b4f56;
    font-weight: bold;
  }
  .about-section .card-body{
    padding: 0;
  }
  .abount-section-details {
    padding: 20px;
  }
  .about-address-container {
    display: flex;
    justify-content: space-between;
  }
  .about-address {
    margin-right: 20px;
    font-size: 14px;
  }
  .icon-direction {
    stroke-width: 12;
    margin: 5px 5px 0 0;
  }
  .about-tel-container {
    margin: 10px 0 10px 0;
  }
  .about-tel {
    font-size: 14px;
    color: #4b4f56;
  }
  .about-faq-container {
    color: #4080ff;
    margin-bottom: 10px;
  }
  .icon-faq,
  .icon-tel,
  .icon-circle {
    margin-right: 5px;
  }
  .about-tel-container,
  .about-faq-container,
  .about-website-container {
    font-size: 14px;
  }
  .icon-circle,
  .icon-tel,
  .icon-direction {
    fill: #c1c4ca;
  }

</style>
