<template>
    <div>
        <b-row>
          <b-col md="12">
            <img src="../assets/cover.jpg" width="100%" height="100%">
          </b-col>
        </b-row>
        <div class="cover-bottom">
          <b-row>
              <b-col md="8">
              </b-col>
              <b-col md="4">
                <b-button block  size="sm" v-b-modal.contact-us variant="primary">Contact Us</b-button>
              </b-col>
          </b-row>
        </div>
        <b-modal id=contact-us hide-footer>
          <template v-slot:modal-title>
            <span class="text-center">Contact Us</span>
          </template>
          <div class="contact-form">
            <!-- Name -->
            <b-input-group>
              <b-input-group-prepend is-text>
                <b-icon icon="person-fill" variant="white"></b-icon>
              </b-input-group-prepend>
              <b-form-input  placeholder="Enter your name"></b-form-input>
            </b-input-group>
            <!-- Email -->
            <b-input-group class="mt-3">
              <b-input-group-prepend is-text>
                <b-icon icon="envelope-fill" variant="white"></b-icon>
              </b-input-group-prepend>
              <b-form-input  placeholder="Email@sample.com"></b-form-input>
            </b-input-group>
            <!-- Message -->
            <b-input-group class="mt-3">
              <b-input-group-prepend is-text>
                <b-icon icon="chat-fill" variant="white"></b-icon>
              </b-input-group-prepend>
              <b-form-input placeholder="Message"></b-form-input>
            </b-input-group>
            <b-button block variant="primary" class="mt-3">Submit</b-button>
          </div>
        </b-modal>
    </div>
</template>

<script>
export default {
  name: 'Cover-Panel'
}
</script>

<style scoped>
  .cover-bottom {
    background-color: #fff;
    padding: 10px;
  }
  .contact-form .b-icon {
    fill: #6e8fd2;
  }
</style>
