<template>
    <div class="header">

    </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped>
    .header {
        height: 58px;
        background-color: #3b5998;
    }
</style>
