<template>
  <div>
    <div class="profile-container">
        <img src="../assets/avatar.jpg" width="100%" height="100%">
        <p class="profile-name">John Doe</p>
        <span class="profile-email">@johndoe</span>
    </div>
    <ul class="menu-tab">
      <li :class="{ 'active': index === 0 }" class="menu-tab-items" v-for="(menu, index) in menus" :key="menu.name">
        <a :href="menu.link">{{menu.name}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Left-Navigation',
  data () {
    return {
      menus: [
        {
          name: 'Home',
          link: '/home'
        },
        {
          name: 'About',
          link: '/about'
        },
        {
          name: 'Notes',
          link: '/notes'
        },
        {
          name: 'Email Signup',
          link: '/signup'
        },
        {
          name: 'Photos',
          link: '/photos'
        },
        {
          name: 'Reviews',
          link: '/review'
        },
        {
          name: 'Vidoes',
          link: '/videos'
        },
        {
          name: 'Likes',
          link: '/link'
        },
        {
          name: 'Posts',
          link: '/posts'
        }
      ]
    }
  }
}
</script>

<style scoped>

    .profile-name {
      color: #000;
      font-size: 28px;
      font-weight: 500;
      margin-top: 10px;
      font-family: Helvetica, Arial, sans-serif;
      margin-bottom: 0;
    }
    .profile-email {
      color: #98949c;
    }
    .menu-tab {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;
    }
    .menu-tab a {
      color: #4b4f56;
    }
    .menu-tab-items {
      padding: 5px 5px 5px 10px;
    }
    .menu-tab-items.active {
      background-color: #dee0e3;
      border-left: 3px solid #4267b2;
      font-weight: bold;
    }
</style>
