<template>
   <div>
       <b-card
            class="mb-2"
        >
            <b-card-text>
              <span> Business service </span>
              <span> London, United Kingdom </span>
            </b-card-text>
        </b-card>
   </div>
</template>

<script>
export default {
  name: 'Page-Rating'
}
</script>

<style scoped>

</style>
