<template>
    <div>
        <b-card header-tag="header">
            <template v-slot:header>
                <a href="#">
                    <span class="write-status">
                        <b-icon icon="pencil-fill" class="icon-pencil" variant="white"></b-icon>
                    </span>
                    <span>Status</span>
                </a>
                <a href="#" class="ml-2">
                    <span class="write-status-media">
                        <b-icon icon="file-image-fill" variant="white"></b-icon>
                    </span>
                    <span>Photos/Video</span>
                </a>
            </template>
            <div class="post-create-container">
                <b-row>
                    <b-col md="1">
                        <img src="../assets/avatar.jpg" class="responsive-image">
                    </b-col>
                    <b-col md="10">
                        <b-form-textarea
                            id="textarea"
                            size="sm"
                            placeholder="Write something on this page..."
                            v-model="postMsg"
                            class="txt-area"
                            @keyup.enter="createPost()"
                        ></b-form-textarea>
                    </b-col>
                </b-row>
            </div>
        </b-card>
    </div>
</template>

<script>
import {v4 as uuid} from 'uuid';

export default {
  name: 'Post-Create-Card',
  props: ['posts'],
  data() {
    return {
        postMsg: ''
    }
  },
   methods: {
    createPost: function() {
        let post = {
            userId: `${uuid()}-uid`,
            id: `${uuid()}-id`,
            title: 'my post',
            body: this.postMsg,
            postedDate: new Date()
        };
        this.posts.unshift(post);
        this.postMsg = '';
    }
  }
}
</script>

<style scoped>
    .responsive-image {
        height: 35px;
        width: 35px;
    }
    .write-status,
    .write-status-media {
        display: inline-flex;
        padding: 2px;
        margin-right: 5px;
        color: #000;
        font-weight: 600;
    }
    .write-status {
        background-color: #6e8fd2;
    }
    .write-status-media {
        background-color: #f1ae74;
    }
    .txt-area {
        color: #98949c;
        font-weight: bold;
        border: none;
        resize: none;
        height: 36px;
    }
    .txt-area:focus {
        font-weight: normal;
    }
</style>
