<template>
    <div>
        <div class="page-post" v-for="post in sortPostByDate(posts)" :key="post.id">
            <b-card
                class="mb-2 post-card"
                header-tag="header"
                footer-tag="footer"
            >
                <template
                    v-slot:header>
                    <div class="post-header">
                        <b-row>
                            <b-col md="1">
                                <img src="../assets/avatar.jpg" class="responsive-image">
                            </b-col>
                            <b-col md="6" class="post-header-details">
                                <span>John Doe</span>
                                <span>{{ post.postedDate | moment("from", "now", true) }} <b-icon icon="dot"></b-icon><b-icon icon="globe2"></b-icon></span>
                            </b-col>
                        </b-row>
                    </div>
                </template>
                {{post.body}}

                <div class="post-react-section">
                    <a href="#">
                        <span class="icons">
                            <b-icon icon="hand-thumbs-up"></b-icon>
                        </span>
                        <span class="text">Like</span>
                    </a>
                    <a href="#" class="ml-4">
                        <span class="icons">
                            <b-icon icon="chat-square-fill"></b-icon>
                        </span>
                        <span class="text">Comment</span>
                    </a>
                    <a href="#" class="ml-4">
                        <span class="icons">
                            <b-icon icon="reply-fill"></b-icon>
                        </span>
                        <span class="text">Share</span>
                    </a>
                </div>
                <template v-slot:footer>
                    <div class="post-create-container">
                        <b-row>
                            <b-col md="1">
                                <img src="../assets/avatar.jpg" class="responsive-image">
                            </b-col>
                            <b-col md="11">
                                <b-form-textarea
                                    id="textarea"
                                    size="sm"
                                    placeholder="Write something on this page..."
                                    v-model="postMsg"
                                    class="txt-area"
                                    @keyup.enter="createPost()"
                                ></b-form-textarea>
                                <b-icon icon="camera-fill" class="txt-area-icon"></b-icon>
                                <b-icon icon="emoji-neutral" class="txt-area-icon"></b-icon>
                            </b-col>
                        </b-row>
                    </div>
                </template>
            </b-card>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Posts',
  props: ['posts'],
  data() {
    return {
        postMsg: ''
    }
  },
  methods: {
    sortPostByDate(posts) {
        return _.orderBy(posts, 'postedDate', 'desc');
    }
  }
}
</script>

<style scoped>
    .card-header {
        border: none;
    }
    .responsive-image {
        height: 35px;
        width: 35px;
    }
    .post-card .card-body {
        padding: 0 20px;
    }
    .post-header-details {
        display: table;
    }
    .post-header-details span {
        display: table-row;
    }
    .post-header-details span:nth-child(1) {
        color: #365899;
        font-weight: bold;
    }
    .post-header-details span:nth-child(2) {
        font-size: 10px;
        color: #90949c;
    }
    .post-react-section {
        border-top: solid #e5e5e5 1px;
        margin-top: 10px;
        padding: 10px 0;
    }
    .post-react-section a:hover {
        text-decoration: none;
    }
    .post-react-section .icons{
        color: #afb4bd;
    }
    .post-react-section .text{
        color: #7f7f7f;
        font-weight: bold;
    }
    .txt-area {
        resize: none;
        height: 36px;
    }
    .txt-area-icon {
        color: #bfbfbf;
        position: absolute;
        top: 10px;
    }
    .txt-area-icon.bi-camera-fill{
        right: 60px;
    }
    .txt-area-icon.bi-emoji-neutral{
        right: 30px;
    }
</style>
