<template>
    <div class="page-post">
        <b-card
            class="mb-2"
        >
            <div>
                <b-form-input v-model="search" @keyup="searchPost()" placeholder="Search for post on this Page"></b-form-input>
            </div>
        </b-card>
    </div>
</template>

<script>
export default {
    name: 'Search-Post',
    props: ['posts','getPostDatas'],
    data () {
        return {
            search: '',
            filterPosts: {},
            postDatas: {}
        }
    },
    methods: {
        searchPost () {
            var $this = this;

            this.getPostDatas().then(function(data){
                $this.postDatas = data.body.slice(0, 10);

                if($this.search != '')
                {
                    $this.filterPosts = $this.postDatas.filter((post) => {
                        return post.title.match($this.search);
                    });
                }else{
                    $this.filterPosts = $this.postDatas
                }

                $this.$emit('filterPosts', $this.filterPosts)
            })
        }
    }
}
</script>

<style scoped>
    .responsive-image {
        height: auto;
        width: 100%;
    }
</style>
