<template>
  <div id="app">
    <app-header></app-header>
    <b-container>
      <b-row>
        <b-col md="2">
          <app-left-nav></app-left-nav>
        </b-col>
        <b-col md="10">
          <app-cover-panel></app-cover-panel>
          <b-row class="page-content">
            <b-col md="7">
              <app-post-create :posts="posts"></app-post-create>
              <app-posts :posts="posts"></app-posts>
            </b-col>
            <b-col md="5">
               <app-page-ratings></app-page-ratings>
               <app-search-post :getPostDatas="getPostDatas" :posts="posts" v-on:filterPosts="updatePostData($event)"></app-search-post>
               <app-about></app-about>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import Header from './components/Header.vue'
import CoverPanel from './components/Cover-Panel.vue'
import LeftNavigation from './components/Left-Navigation.vue'
import PostCreatCard from './components/Post-Create-Card.vue'
import PageRating from './components/Page-Rating.vue'
import Posts from './components/Posts.vue'
import SearchPost from './components/Search-Post.vue'
import About from './components/About.vue'

export default {
  name: 'App',
  components: {
    'app-header': Header,
    'app-cover-panel': CoverPanel,
    'app-left-nav': LeftNavigation,
    'app-post-create': PostCreatCard,
    'app-page-ratings': PageRating,
    'app-posts': Posts,
    'app-search-post': SearchPost,
    'app-about': About
  },
  data () {
    return {
      posts: [],
    }
  },
  created () {
    this.getPostDatas().then(function(data){
      this.posts = data.body.slice(0, 10);
      this.setRandomDate();
    })
  },
  methods: {
    updatePostData: function(filteredPosts) {
      this.posts = filteredPosts
    },
    getPostDatas: function() {
      return this.$http.get('https://jsonplaceholder.typicode.com/posts')
    },
    setRandomDate: function() {
      let $this = this;
      this.posts.map(function(post){
        post.postedDate = $this.getRandomDates(new Date(2019, 1, 1), new Date())
      });
    },
    getRandomDates: function(start, end) {
      return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));
    }
  }
}
</script>

<style>
  body {
    background: #e9eaed;
  }

  .page-post,
  .page-content {
    margin-top: 15px;
  }
</style>
